<script type="module" src="@components/pages/blog/blog.js"></script>
<link rel="stylesheet" href="@components/pages/blog/blog.scss" />

<main class="page page--blog blog">
  <section class="blog__hero hero-blog">
    <div class="hero-blog__container">
      <div data-fls-blockhead class="hero-blog__blockhead blockhead">
        <h1 class="blockhead__title">Blog</h1>
        <div class="blockhead__text">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor lorem.
          </p>
        </div>
      </div>
    </div>
  </section>

  <div class="blog__body body-blog">
    <div class="body-blog__container">
      <div class="body-blog__items">
        <article data-fls-articlepreview class="articlepreview" data-fls-border>
          <a href="/blogpage.html" class="articlepreview__link-image">
            <img
              class="articlepreview__image"
              src="@img/blog/1.jpg"
              alt="Image"
            />
          </a>
          <div class="articlepreview__body">
            <time datetime="23-08-2023" class="articlepreview__date"
              >23rd Aug 2023</time
            >
            <h4 class="articlepreview__title" data-fls-title>
              <a href="/blogpage.html" class="articlepreview__link-title"
                >How to Build a Stunning Website with Framer</a
              >
            </h4>
            <div class="articlepreview__text">
              <p>
                Learn how to create an impressive website using Framer with our
                step-by-step guide.
              </p>
            </div>
          </div>
          <a data-fls-border href="#" class="articlepreview__category"
            >WEBdesign</a
          >
        </article>
        <article data-fls-articlepreview class="articlepreview" data-fls-border>
          <a href="/blogpage.html" class="articlepreview__link-image">
            <img
              class="articlepreview__image"
              src="@img/blog/2.jpg"
              alt="Image"
            />
          </a>
          <div class="articlepreview__body">
            <time datetime="23-08-2023" class="articlepreview__date"
              >23rd Aug 2023</time
            >
            <h4 class="articlepreview__title" data-fls-title>
              <a href="/blogpage.html" class="articlepreview__link-title"
                >10 website elements for maximum user engagement</a
              >
            </h4>
            <div class="articlepreview__text">
              <p>
                10 website elements to engage users, from intuitive navigation
                to compelling visuals.
              </p>
            </div>
          </div>
          <a data-fls-border href="#" class="articlepreview__category"
            >WEBdesign</a
          >
        </article>
        <article data-fls-articlepreview class="articlepreview" data-fls-border>
          <a href="/blogpage.html" class="articlepreview__link-image">
            <img
              class="articlepreview__image"
              src="@img/blog/3.jpg"
              alt="Image"
            />
          </a>
          <div class="articlepreview__body">
            <time datetime="23-08-2023" class="articlepreview__date"
              >23rd Aug 2023</time
            >
            <h4 class="articlepreview__title" data-fls-title>
              <a href="/blogpage.html" class="articlepreview__link-title"
                >The importance of content in driving website traffic</a
              >
            </h4>
            <div class="articlepreview__text">
              <p>
                Quality content is king. Learn how to create valuable,
                SEO-optimized content.
              </p>
            </div>
          </div>
          <a
            data-fls-border
            href="/blogpage.html"
            class="articlepreview__category"
            >WEBdesign</a
          >
        </article>
        <article data-fls-articlepreview class="articlepreview" data-fls-border>
          <a href="/blogpage.html" class="articlepreview__link-image">
            <img
              class="articlepreview__image"
              src="@img/blog/4.jpg"
              alt="Image"
            />
          </a>
          <div class="articlepreview__body">
            <time datetime="23-08-2023" class="articlepreview__date"
              >23rd Aug 2023</time
            >
            <h4 class="articlepreview__title" data-fls-title>
              <a href="#" class="articlepreview__link-title"
                >10 common web development mistakes to avoid</a
              >
            </h4>
            <div class="articlepreview__text">
              <p>
                10 common web development mistakes and improve your site's
                functionality and user experience.
              </p>
            </div>
          </div>
          <a
            data-fls-border
            href="/blogpage.html"
            class="articlepreview__category"
            >WEBdesign</a
          >
        </article>
        <article data-fls-articlepreview class="articlepreview" data-fls-border>
          <a href="/blogpage.html" class="articlepreview__link-image">
            <img
              class="articlepreview__image"
              src="@img/blog/5.jpg"
              alt="Image"
            />
          </a>
          <div class="articlepreview__body">
            <time datetime="23-08-2023" class="articlepreview__date"
              >23rd Aug 2023</time
            >
            <h4 class="articlepreview__title" data-fls-title>
              <a href="/blogpage.html" class="articlepreview__link-title"
                >Why responsive web design is critical for your business</a
              >
            </h4>
            <div class="articlepreview__text">
              <p>
                Responsive web design ensures your site looks great and performs
                well on all devices.
              </p>
            </div>
          </div>
          <a
            data-fls-border
            href="/blogpage.html"
            class="articlepreview__category"
            >WEBdesign</a
          >
        </article>
        <article data-fls-articlepreview class="articlepreview" data-fls-border>
          <a href="/blogpage.html" class="articlepreview__link-image">
            <img
              class="articlepreview__image"
              src="@img/blog/6.jpg"
              alt="Image"
            />
          </a>
          <div class="articlepreview__body">
            <time datetime="23-08-2023" class="articlepreview__date"
              >23rd Aug 2023</time
            >
            <h4 class="articlepreview__title" data-fls-title>
              <a href="/blogpage.html" class="articlepreview__link-title"
                >The art of SEO writing: How to write content that ranks on
                Google</a
              >
            </h4>
            <div class="articlepreview__text">
              <p>
                Optimize your website with expert tips on writing content that
                ranks high on Google.
              </p>
            </div>
          </div>
          <a
            data-fls-border
            href="/blogpage.html"
            class="articlepreview__category"
            >WEBdesign</a
          >
        </article>
      </div>
    </div>
  </div>
</main>
