.page {
  // .page--services

  &--services {
  }

  // .page__hero-services

  &__hero-services {
    @include adaptiveValue('margin-bottom', 80, 30);
  }
}

// hero-services

.hero-services {
  @include adaptiveValue('padding-top', 224, 100);

  // .hero-services__container
  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  // .hero-services__blockhead

  &__blockhead {
  }

  // .hero-services__button

  &__button {
    @include adaptiveValue('margin-block', 64, 20);
  }

  // .hero-services__image

  &__image {
  }
}
