<script type="module" src="@components/pages/services/services.js"></script>
<link rel="stylesheet" href="@components/pages/services/services.scss" />

<main class="page page--services">
  <section class="page__hero-services hero-services">
    <div class="hero-services__container">
      <div data-fls-blockhead class="hero-services__blockhead blockhead">
        <h1 class="blockhead__title">
          Web <br />
          Design<span>& Framer</span>
        </h1>
        <div class="blockhead__text blockhead__text--size-24">
          <p>
            Premium web design, development, and SEO services to help your
            business stand out.
          </p>
        </div>
      </div>
      <a
        href="#"
        data-fls-button
        class="hero-services__button button button--text button--text-big button--icon-arrow button--arrow-d"
        >My services
      </a>
      <img
        src="@img/macbook-hero-services.png"
        alt="Image"
        class="hero-services__image"
      />
    </div>
  </section>
</main>
