.widgetheader {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 15px;
  align-items: center;
  @include adaptiveValue('margin-bottom', 32, 16);
  @media (min-width: $mobile) {
    padding-inline: 32px;
  }

  &__title {
    @include adaptiveValue('font-size', 64, 32);
    line-height: 1.1;
    font-weight: 300;
    color: $lightColor;
    font-family: $fontSecondary;
    span {
      font-family: $fontItalic;
    }
  }
}
