<script type="module" src="@components/pages/contacts/contacts.js"></script>
<link rel="stylesheet" href="@components/pages/contacts/contacts.scss" />

<main class="page page--contacts">
  <article class="contacts">
    <div class="contacts__container">
      <figure class="contacts__picture">
        <img class="contacts__image" src="@img/arik.png" alt="Image" />
      </figure>

      <div class="contacts__body">
        <div class="contacts__form form-contacts">
          <div class="form-contacts__header">
            <div class="form-contacts__label">Contact</div>
            <h1 data-fls-title class="form-contacts__title">
              Let’s get in touch.
            </h1>
          </div>

          <form action="#" data-fls-form class="form-contacts__body">
            <div class="form-contacts__line">
              <input
                data-fls-form-errtext="Name required"
                placeholder="Name"
                data-fls-input
                required
                type="text"
                name="name"
                class="form-contacts__input"
              />
            </div>
            <div class="form-contacts__line">
              <input
                data-fls-form-errtext="E-mail error"
                placeholder="Email"
                data-fls-input
                required
                type="email"
                name="email"
                class="form-contacts__input"
              />
            </div>

            <textarea
              data-fls-input-autoheight
              placeholder="Message"
              data-fls-input
              class="form-contacts__input"
              required
              autocomplete="off"
              name="message"
            ></textarea>
            <button
              type="submit"
              class="form-contacts__button button button--light"
            >
              SEND MESSAGE
            </button>
          </form>
        </div>

        <ul data-fls-socialblocks class="contacts__social social-blocks">
          <li class="social-blocks__item">
            <a
              href="#"
              target="_blank"
              data-fls-border
              class="social-blocks__link social-blocks__link--icon-s-inst"
            >
              Instagram
            </a>
          </li>
          <li class="social-blocks__item">
            <a
              href="#"
              target="_blank"
              data-fls-border
              class="social-blocks__link social-blocks__link--icon-s-x"
            >
              Twitter
            </a>
          </li>
          <li class="social-blocks__item">
            <a
              href="#"
              target="_blank"
              data-fls-border
              class="social-blocks__link social-blocks__link--icon-s-fb"
            >
              Facebook
            </a>
          </li>
          <li class="social-blocks__item">
            <a
              href="#"
              target="_blank"
              data-fls-border
              class="social-blocks__link social-blocks__link--icon-s-beh"
            >
              Behance
            </a>
          </li>
          <li class="social-blocks__item">
            <a
              href="#"
              target="_blank"
              data-fls-border
              class="social-blocks__link social-blocks__link--icon-s-drb"
            >
              Dribbble
            </a>
          </li>
          <li class="social-blocks__item">
            <a
              href="#"
              target="_blank"
              data-fls-border
              class="social-blocks__link social-blocks__link--icon-s-pint"
            >
              Pinterest
            </a>
          </li>
        </ul>
      </div>
    </div>
  </article>
</main>
