<script type="module" src="@components/pages/blogpage/blogpage.js"></script>
<link rel="stylesheet" href="@components/pages/blogpage/blogpage.scss" />

<main class="blogpage">
  <div class="blogpage__container">
    <article class="blogpage__content content-blogpage">
      <div class="content-blogpage__container">
        <div class="content-blogpage__header header-blogpage">
          <div data-fls-blockhead class="header-blogpage__blockhead blockhead">
            <span class="blockhead__label"></span>
            <h1 class="blockhead__title blockhead__title--size-80">
              How to Build a Stunning Website with Framer
            </h1>
            <div class="blockhead__text">
              <p>
                Learn how to create an impressive website using Framer with our
                step-by-step guide.
              </p>
            </div>
          </div>
          <a
            href="#"
            data-fls-button
            data-fls-scrollto=".service"
            data-fls-scrollto-top="100"
            class="hero-blogpage__button button button--text button--text-big button--icon-arrow button--arrow-d"
            >Read more
          </a>
        </div>

        <ul class="content-blogpage__information information-blogpage">
          <li data-fls-label data-fls-border class="information-blogpage__item">
            <div class="information-blogpage__label">Date</div>
            <time datetime="23-08-2023" class="information-blogpage__value"
              >23rd Aug 2023</time
            >
          </li>
          <li data-fls-label data-fls-border class="information-blogpage__item">
            <div class="information-blogpage__label">Category</div>
            <a href="#" class="information-blogpage__value">Web Design</a>
          </li>
          <li data-fls-label data-fls-border class="information-blogpage__item">
            <div class="information-blogpage__label">Reading time</div>
            <div class="information-blogpage__value">5 min</div>
          </li>
        </ul>

        <figure
          data-fls-noise
          data-fls-border
          class="content-blogpage__media media-blogpage"
        >
          <img
            src="@img/article/article-media.jpg"
            class="media-blogpage__image"
            alt="Image"
          />
        </figure>
        <div class="content-blogpage__body body-blogpage">
          <section>
            <h2>Elit ullamcorper dignissim</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Elit
              ullamcorper dignissim cras tincidunt. Enim neque volutpat ac
              tincidunt vitae. Dictum at tempor commodo ullamcorper a lacus
              vestibulum sed. Condimentum mattis pellentesque id nibh tortor id.
              Nisl condimentum id venenatis a condimentum. Nunc sed blandit
              libero volutpat sed. Tristique sollicitudin nibh sit amet commodo.
              Sit amet justo donec enim diam vulputate ut pharetra. Quis
              imperdiet massa tincidunt nunc pulvinar sapien et ligula
              ullamcorper. Massa vitae tortor condimentum lacinia quis vel.
              Hendrerit dolor magna eget est lorem ipsum dolor. Mollis aliquam
              ut porttitor leo a diam sollicitudin tempor id. Suspendisse
              faucibus interdum posuere lorem ipsum dolor sit amet consectetur.
            </p>
          </section>
          <section>
            <h3>Hendrerit dolor magna</h3>
            <p>
              Tristique sollicitudin nibh sit amet commodo. Sit amet justo donec
              enim diam vulputate ut pharetra. Quis imperdiet massa tincidunt
              nunc pulvinar sapien et ligula ullamcorper. Massa vitae tortor
              condimentum lacinia quis vel. Hendrerit dolor magna eget est lorem
              ipsum dolor. Mollis aliquam ut porttitor leo a diam sollicitudin
              tempor id. Suspendisse faucibus interdum posuere.
            </p>
          </section>
          <section>
            <h3>Hendrerit dolor magna</h3>
            <p>
              Tristique sollicitudin nibh sit amet commodo. Sit amet justo donec
              enim diam vulputate ut pharetra. Quis imperdiet massa tincidunt
              nunc pulvinar sapien et ligula ullamcorper. Massa vitae tortor
              condimentum lacinia quis vel. Hendrerit dolor magna eget est lorem
              ipsum dolor. Mollis aliquam ut porttitor leo a diam sollicitudin
              tempor id. Suspendisse faucibus interdum posuere.
            </p>
          </section>
        </div>

        <div class="content-blogpage__author author-blogpage">
          <div data-fls-border class="author-blogpage__content">
            <div class="author-blogpage__main">
              <div class="author-blogpage__title">Conclusion</div>
              <div class="author-blogpage__text">
                <p>
                  Quis imperdiet massa tincidunt nunc pulvinar sapien et ligula
                  ullamcorper. Massa vitae tortor condimentum lacinia quis vel.
                  Hendrerit dolor magna eget est lorem ipsum dolor. Mollis
                  aliquam ut porttitor leo a diam sollicitudin tempor id.
                </p>
              </div>
            </div>
            <div class="author-blogpage__body body-author-blogpage">
              <figure class="body-author-blogpage__media">
                <img
                  src="@img/article/aric.jpg"
                  class="body-author-blogpage__avatar"
                  alt="Image"
                />
              </figure>
              <div class="body-author-blogpage__content">
                <div class="body-author-blogpage__name">Aric Andersson</div>
                <div data-fls-label class="body-author-blogpage__desc">
                  Framer Expert
                </div>
              </div>
            </div>
          </div>
          <ul
            data-fls-socialblocks
            class="author-blogpage__social social-blocks"
          >
            <li class="social-blocks__item">
              <a
                href="#"
                target="_blank"
                data-fls-border
                class="social-blocks__link social-blocks__link--icon-s-inst"
              >
                Instagram
              </a>
            </li>
            <li class="social-blocks__item">
              <a
                href="#"
                target="_blank"
                data-fls-border
                class="social-blocks__link social-blocks__link--icon-s-x"
              >
                Twitter
              </a>
            </li>
            <li class="social-blocks__item">
              <a
                href="#"
                target="_blank"
                data-fls-border
                class="social-blocks__link social-blocks__link--icon-s-fb"
              >
                Facebook
              </a>
            </li>
          </ul>
        </div>
      </div>
    </article>

    <div class="blogpage__related related-blogpage">
      <div class="related-blogpage__container">
        <div
          data-fls-widgetheader
          class="related-blogpage__widgetheader widgetheader"
        >
          <h2 class="widgetheader__title">Related <span>News</span></h2>
          <a
            href="#"
            data-fls-button
            class="button button--text button--icon-arrow button--arrow-ur"
            >See all
          </a>
        </div>

        <div class="related-blogpage__items">
          <article
            data-fls-articlepreview
            class="articlepreview"
            data-fls-border
          >
            <a href="" class="articlepreview__link-image">
              <img
                class="articlepreview__image"
                src="@img/blog/1.jpg"
                alt="Image"
              />
            </a>
            <div class="articlepreview__body">
              <time datetime="23-08-2023" class="articlepreview__date"
                >23rd Aug 2023</time
              >
              <h4 class="articlepreview__title" data-fls-title>
                <a href="#" class="articlepreview__link-title"
                  >How to Build a Stunning Website with Framer</a
                >
              </h4>
              <div class="articlepreview__text">
                <p>
                  Learn how to create an impressive website using Framer with
                  our step-by-step guide.
                </p>
              </div>
            </div>
            <a data-fls-border href="#" class="articlepreview__category"
              >WEBdesign</a
            >
          </article>
          <article
            data-fls-articlepreview
            class="articlepreview"
            data-fls-border
          >
            <a href="" class="articlepreview__link-image">
              <img
                class="articlepreview__image"
                src="@img/blog/2.jpg"
                alt="Image"
              />
            </a>
            <div class="articlepreview__body">
              <time datetime="23-08-2023" class="articlepreview__date"
                >23rd Aug 2023</time
              >
              <h4 class="articlepreview__title" data-fls-title>
                <a href="#" class="articlepreview__link-title"
                  >10 website elements for maximum user engagement</a
                >
              </h4>
              <div class="articlepreview__text">
                <p>
                  10 website elements to engage users, from intuitive navigation
                  to compelling visuals.
                </p>
              </div>
            </div>
            <a data-fls-border href="#" class="articlepreview__category"
              >WEBdesign</a
            >
          </article>
          <article
            data-fls-articlepreview
            class="articlepreview"
            data-fls-border
          >
            <a href="" class="articlepreview__link-image">
              <img
                class="articlepreview__image"
                src="@img/blog/3.jpg"
                alt="Image"
              />
            </a>
            <div class="articlepreview__body">
              <time datetime="23-08-2023" class="articlepreview__date"
                >23rd Aug 2023</time
              >
              <h4 class="articlepreview__title" data-fls-title>
                <a href="#" class="articlepreview__link-title"
                  >The importance of content in driving website traffic</a
                >
              </h4>
              <div class="articlepreview__text">
                <p>
                  Quality content is king. Learn how to create valuable,
                  SEO-optimized content.
                </p>
              </div>
            </div>
            <a data-fls-border href="#" class="articlepreview__category"
              >WEBdesign</a
            >
          </article>
        </div>
      </div>
    </div>
  </div>
</main>
