<script type="module" src="@components/pages/blogpage/blogpage.js"></script>
<link rel="stylesheet" href="@components/pages/blogpage/blogpage.scss" />

<main class="page page--blogpage">
  <div class="blogpage">
    <div class="blogpage__hero hero-blogpage">
      <div class="hero-blogpage__container">
        <div data-fls-blockhead class="hero-blogpage__blockhead blockhead">
          <span class="blockhead__label"></span>
          <h2 class="blockhead__title blockhead__title--size-80">
            How to Build a Stunning Website with Framer
          </h2>
          <div class="blockhead__text">
            <p>
              Learn how to create an impressive website using Framer with our
              step-by-step guide.
            </p>
          </div>
        </div>
        <a
          href="#"
          data-fls-button
          data-fls-scrollto=".service"
          data-fls-scrollto-top="100"
          class="hero-blogpage__button button button--text button--text-big button--icon-arrow button--arrow-d"
          >My services
        </a>
      </div>
    </div>
  </div>
</main>
