<script type="module" src="@components/pages/singlework/singlework.js"></script>
<link rel="stylesheet" href="@components/pages/singlework/singlework.scss" />

<main class="page page--singlework singlework">
  <section class="singlework__hero hero-singlework">
    <div class="hero-singlework__container">
      <div data-fls-blockhead class="hero-singlework__blockhead blockhead">
        <h1 class="blockhead__title">Space</h1>
        <div class="blockhead__text">
          <p>
            Modern and visually appealing website that reflected the client's
            brand.
          </p>
        </div>
      </div>
      <div class="hero-singlework__info info-singlework">
        <div data-fls-border data-fls-label class="info-singlework__item">
          <div class="info-singlework__label">Client</div>
          <div class="info-singlework__value">Pawel Gola</div>
        </div>
        <div data-fls-border data-fls-label class="info-singlework__item">
          <div class="info-singlework__label">Timeline</div>
          <div class="info-singlework__value">3 weeks</div>
        </div>
        <div data-fls-border data-fls-label class="info-singlework__item">
          <div class="info-singlework__label">Services</div>
          <div class="info-singlework__value">Template</div>
        </div>
        <div data-fls-border data-fls-label class="info-singlework__item">
          <div class="info-singlework__label">Website</div>
          <div class="info-singlework__value">Gola.io</div>
        </div>
      </div>
      <a
        href="#"
        data-fls-button
        data-fls-scrollto=".body-singlework"
        data-fls-scrollto-top="150"
        class="hero-singlework__button button button--text button--text-big button--icon-arrow button--arrow-d"
        >More details
      </a>
    </div>
  </section>

  <div class="singlework__project project-singlework">
    <div class="project-singlework__container">
      <figure class="project-singlework__picture">
        <img
          class="project-singlework__image"
          src="@img/space.jpg"
          alt="Image"
        />
      </figure>
    </div>
  </div>

  <section class="singlework__body body-singlework">
    <div class="body-singlework__container">
      <div class="body-singlework__content">
        <div class="body-singlework__label" data-fls-label>About</div>
        <h2 class="body-singlework__title" data-fls-title>
          Concept, Design, and Development. All-in-one.
        </h2>
      </div>
      <div class="body-singlework__items">
        <article
          data-fls-border
          class="body-singlework__item item-body-singlework"
        >
          <h4 class="item-body-singlework__title" data-fls-title>Challenge</h4>
          <div class="item-body-singlework__text">
            <p>
              Our client was struggling to attract and retain customers due to
              an outdated and non-responsive website that didn't align with
              their brand identity.
            </p>
          </div>
        </article>
        <article
          data-fls-border
          class="body-singlework__item item-body-singlework"
        >
          <h4 class="item-body-singlework__title" data-fls-title>Goal</h4>
          <div class="item-body-singlework__text">
            <p>
              Our goal was to create a modern and visually appealing website
              that reflected the client's brand and delivered a seamless user
              experience. The website needed to be responsive, easy to navigate,
              and optimized for search engines to improve their online
              visibility.
            </p>
          </div>
        </article>
        <article
          data-fls-border
          class="body-singlework__item item-body-singlework"
        >
          <h4 class="item-body-singlework__title" data-fls-title>Result</h4>
          <div class="item-body-singlework__text">
            <p>
              Our team developed a custom website design that was not only
              visually stunning but also user-friendly and optimized for search
              engines. The client's website now showcases their products and
              services in a professional and engaging manner, and has seen a
              significant increase in organic traffic and customer engagement.
              The client is thrilled with the final result and has received
              positive feedback from their customers.
            </p>
          </div>
        </article>
      </div>
    </div>
  </section>
</main>
