<a href="#" data-fls-button class="button">Button</a>
<a href="#" data-fls-button class="button button--light">Button</a>
<a
  href="#"
  data-fls-button
  class="button button--icon button--icon-arrow button--arrow-ur"
  >Button</a
>
<a
  href="#"
  data-fls-button
  class="button button--light button--icon button--icon-arrow button--arrow-ur"
  >Button</a
>

<a
  href="#"
  data-fls-button
  class="button button--text button--icon-arrow button--arrow-ur"
  >Button text
</a>

<a
  href="#"
  data-fls-button
  class="button button--text button--text-big button--icon-arrow button--arrow-d"
  >Button text
</a>
<a
  href="#"
  data-fls-button
  class="button button--text button--text-big button--text-rev button--icon-arrow"
  >To top
</a>
