.social {
  // .social__item
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;

  &--text {
    .social__link {
      display: flex;
      align-items: center;
      font-size: 13px;
      gap: 8px;
      text-transform: uppercase;
      letter-spacing: 1.5px;
      line-height: 1.6;
    }
  }

  &__item {
    flex-shrink: 0;

    // там де є data-fls-watcher:
    [data-fls-watcher] & {
      // плавний скейл кожного елемента.
      scale: 0;
    }
    .--watcher-view & {
      transition-duration: 0.8s;
      @for $i from 1 through 4 {
        &:nth-child(#{$i}) {
          $delay: 0.1 * $i;
          transition-delay: #{$delay}s;
        }
      }
      scale: 1;
    }
  }

  // .social__link

  &__link {
    &::before {
      border: 1px solid $greyColor;
      background-color: $mutedColor;
      backdrop-filter: blur(15px);
      font-size: 13px;
      align-content: center;
      text-align: center;
      aspect-ratio: 1;
      border-radius: 50%;
      width: 46px;
      color: $lightColor;

      transition: all 0.3s;
    }

    @media (any-hover: hover) {
      &:hover {
        &::before {
          color: $darkColor;
          background-color: $lightColor;
        }
      }
    }
  }
}
