<script type="module" src="@components/pages/about/about.js"></script>
<link rel="stylesheet" href="@components/pages/about/about.scss" />

<main class="page page--about">
  <article class="about">
    <div class="about__container">
      <figure class="about__picture">
        <img class="about__image" src="@img/arik2.png" alt="Image" />
      </figure>
      <div class="about__body">
        <div
          data-fls-blockhead
          class="about__blockhead blockhead blockhead--left"
        >
          <h1 class="blockhead__title">
            Arik
            <span>Anderson</span>
          </h1>
          <div class="blockhead__text">
            <p>
              Delivering Premium Web Design and Development Services to Boost
              Your Online Presence.
            </p>
          </div>
        </div>
        <a
          href="#"
          data-fls-button
          data-fls-scrollto=".about__content"
          data-fls-scrollto-top="100"
          class="about__button button button--text button--text-big button--icon-arrow button--arrow-d"
          >About Me
        </a>
        <section data-fls-border class="about__content content-about">
          <div class="content-about__label">Arik Andersson</div>
          <h2 class="content-about__title">
            Your Partner in Bringing Your Web Design Vision to Life
          </h2>
          <div class="content-about__text">
            <p>
              As a freelance web designer and developer, I bring a unique
              combination of creativity and technical expertise to every
              project. With a keen eye for design and a passion for delivering
              user-friendly web experiences, I work closely with clients to
              understand their needs and bring their vision to life.
            </p>
            <p>
              My approach is rooted in collaboration and communication, and I
              take pride in my ability to explain technical concepts in simple
              terms. Whether I'm developing a new website from scratch or
              optimizing an existing site for search engines, I always strive
              for excellence in both form and function. With a dedication to
              quality and a commitment to staying on top of the latest trends
              and technologies, I am confident in my ability to deliver
              exceptional results that exceed my clients' expectations.
            </p>
          </div>
          <figure class="content-about__picture">
            <img
              src="@img/arik-article.jpg"
              class="content-about__image"
              alt="Image"
            />
          </figure>
        </section>

        <ul class="about__social social-blocks">
          <li class="social-blocks__item">
            <a
              href="#"
              target="_blank"
              data-fls-border
              class="social-blocks__link social-blocks__link--icon-s-inst"
            >
              Instagram
            </a>
          </li>
          <li class="social-blocks__item">
            <a
              href="#"
              target="_blank"
              data-fls-border
              class="social-blocks__link social-blocks__link--icon-s-x"
            >
              Twitter
            </a>
          </li>
          <li class="social-blocks__item">
            <a
              href="#"
              target="_blank"
              data-fls-border
              class="social-blocks__link social-blocks__link--icon-s-fb"
            >
              Facebook
            </a>
          </li>
          <li class="social-blocks__item">
            <a
              href="#"
              target="_blank"
              data-fls-border
              class="social-blocks__link social-blocks__link--icon-s-beh"
            >
              Behance
            </a>
          </li>
          <li class="social-blocks__item">
            <a
              href="#"
              target="_blank"
              data-fls-border
              class="social-blocks__link social-blocks__link--icon-s-drb"
            >
              Dribbble
            </a>
          </li>
          <li class="social-blocks__item">
            <a
              href="#"
              target="_blank"
              data-fls-border
              class="social-blocks__link social-blocks__link--icon-s-pint"
            >
              Pinterest
            </a>
          </li>
        </ul>

        <section class="about__awards awards-about">
          <h3 class="awards-about__title">Awards</h3>
          <table class="awards-about__tabble">
            <tr>
              <td class="awards-about__label">Awwwards SOTD</td>
              <td class="awards-about__value">2023</td>
            </tr>
            <tr>
              <td class="awards-about__label">CSSDA SOTD</td>
              <td class="awards-about__value">2023</td>
            </tr>
            <tr>
              <td class="awards-about__label">Awwwards Website of the Month</td>
              <td class="awards-about__value">2023</td>
            </tr>
            <tr>
              <td class="awards-about__label">CSSDA SOTD</td>
              <td class="awards-about__value">2023</td>
            </tr>
            <tr>
              <td class="awards-about__label">Awwwards SOTD</td>
              <td class="awards-about__value">2022</td>
            </tr>
            <tr>
              <td class="awards-about__label">Awwwards Website of the Year</td>
              <td class="awards-about__value">2022</td>
            </tr>
          </table>
        </section>
      </div>
    </div>
  </article>
</main>
