.page {
  // .page--home

  &--home {
  }

  // .page__hero

  &__hero {
  }

  // .page__clients
  &__clients {
  }
}

.hero {
  // .hero__container

  &__container {
    text-align: center;
    min-height: 100svh;

    display: grid;
    align-items: center;
  }

  // .hero__image

  &__image {
    width: 100vw;
    height: 65svh;

    object-fit: contain;

    mix-blend-mode: lighten;
  }

  // .hero__blockhead
  &__blockhead {
    transform: translate(0, -20%);
  }
}

/* ========== Clients page ========== */

.clients {
  @include adaptiveValue('padding-bottom', 80, 15);
  // .clients__item

  [data-fls-marquee-inner] {
    align-items: center;
    gap: 35px;
  }

  &__item {
  }
}
