<script type="module" src="@components/pages/home/home.js"></script>
<link rel="stylesheet" href="@components/pages/home/home.scss" />

<main class="page page--home">
  <section class="page__hero hero">
    <div class="hero__container">
      <img class="hero__image" src="@img/arik.png" alt="Image" />
      <div data-fls-blockhead class="hero__blockhead blockhead">
        <span class="blockhead__label"></span>
        <h1 class="blockhead__title blockhead__title--size-160">
          Web Designer<span>& Developer</span>
        </h1>
        <div class="blockhead__text blockhead__text--size-24">
          <p>
            Premium web design, development, and SEO services to help your
            business stand out.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="page__clients clients">
    <ul class="clients__container">
      <li class="clients__item">
        <img src="@img/clients/1.svg" alt="Image" />
      </li>
      <li class="clients__item">
        <img src="@img/clients/2.svg" alt="Image" />
      </li>
      <li class="clients__item">
        <img src="@img/clients/3.svg" alt="Image" />
      </li>
      <li class="clients__item">
        <img src="@img/clients/4.svg" alt="Image" />
      </li>
      <li class="clients__item">
        <img src="@img/clients/5.svg" alt="Image" />
      </li>
      <li class="clients__item">
        <img src="@img/clients/6.svg" alt="Image" />
      </li>
    </ul>
  </section>

  <section class="page__skills skills">
    <div class="skills__container">
      <include
        src="@components/custom/skill/skill.html"
        locals='{
        "title": "Web Design",
        "text": "Visually stunning web designs that captivate your audience by blending your brand voice and customer needs.",
        "button": "About webdesign"
      }'
      ></include>
      <include
        src="@components/custom/skill/skill.html"
        locals='{
        "title": "Development",
        "text": "Get custom web development solutions that are tailored to your specifications, designed to deliver a flawless user experience.",
        "button": "About webflow"
      }'
      ></include>
      <include
        src="@components/custom/skill/skill.html"
        locals='{
        "title": "Content & Seo",
        "text": "Proven SEO strategies that enhance your online performance, bringing you to the forefront of organic search results.",
        "button": "About seo"
      }'
      ></include>
    </div>
  </section>
</main>
