<script type="module" src="@components/pages/home/home.js"></script>
<link rel="stylesheet" href="@components/pages/home/home.scss" />

<main class="page page--home">
  <section class="page__hero hero">
    <div class="hero__container">
      <img class="hero__image" src="@img/arik.png" alt="Image" />

      <div data-fls-blockhead class="hero__blockhead blockhead">
        <span class="blockhead__label"></span>
        <h1 class="blockhead__title blockhead__title--size-160">
          Web Designer<span>& Developer</span>
        </h1>
        <div class="blockhead__text blockhead__text--size-24">
          <p>
            Premium web design, development, and SEO services to help your
            business stand out.
          </p>
        </div>
      </div>
    </div>
  </section>
</main>
