.page {
  // .page--home

  &--home {
  }

  // .page__hero

  &__hero {
  }

  // .page__clients
  &__clients {
  }

  // .page__skills

  &__skills {
  }
}

.hero {
  // .hero__container

  &__container {
    text-align: center;
    min-height: 100svh;

    display: grid;
    align-items: center;
  }

  // .hero__image

  &__image {
    width: 100vw;
    height: 65svh;
    object-fit: contain;
    mix-blend-mode: lighten;
  }

  // .hero__blockhead
  &__blockhead {
    transform: translate(0, -25%);
  }
}

/* ========== Clients page ========== */

.clients {
  // .clients__conatiner
  @include adaptiveValue('padding-bottom', 80, 60);
  &__container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    align-items: center;
    justify-content: space-evenly;
  }
  // .clients__item

  &__item {
  }
}
