<footer data-fls-footer class="footer">
  <div class="footer__container">
    <div class="footer__body body-footer">
      <div class="body-footer__content"></div>
      <div data-fls-spollers class="body-footer__menus">
        <details class="body-footer__menu">
          <summary>
            <h5 class="body-footer__title">Pages</h5>
          </summary>

          <ul class="body-footer__list">
            <li class="body-footer__item">
              <a href="#" class="body-footer__link">Home</a>
            </li>
            <li class="body-footer__item">
              <a href="#" class="body-footer__link">Services</a>
            </li>
            <li class="body-footer__item">
              <a href="#" class="body-footer__link">About</a>
            </li>
            <li class="body-footer__item">
              <a href="#" class="body-footer__link">Contact</a>
            </li>
          </ul>
        </details>

        <details class="body-footer__menu">
          <summary>
            <h5 class="body-footer__title">CMS</h5>
          </summary>

          <ul class="body-footer__list">
            <li class="body-footer__item">
              <a href="#" class="body-footer__link">Work</a>
            </li>
            <li class="body-footer__item">
              <a href="#" class="body-footer__link">Work single</a>
            </li>
            <li class="body-footer__item">
              <a href="#" class="body-footer__link">Blog</a>
            </li>
            <li class="body-footer__item">
              <a href="#" class="body-footer__link">Blog post</a>
            </li>
          </ul>
        </details>
      </div>
    </div>

    <div class="footer__bottom bottom-footer"></div>
  </div>
</footer>
