.footer {
  @include adaptiveValue('padding-block', 64, 40);
  background-color: $mutedColor;
  // .footer__container

  &__container {
    max-width: 1630px;
  }

  // .footer__body

  &__body {
    @include adaptiveValue('margin-bottom', 88, 30);
  }

  // .footer__bottom

  &__bottom {
  }
}
.body-footer {
  display: flex;
  row-gap: 30px;
  @include adaptiveValue('column-gap', 64, 20);

  @media (max-width: toEm($mobile)) {
    flex-direction: column;
  }
  // .body-footer__content

  &__content {
    flex: 0 1 28.75%;
  }

  // .body-footer__menus

  &__menus {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;

    @include adaptiveValue('column-gap', 64, 20);
    @include adaptiveValue('row-gap', 40, 20);

    @media (max-width: toEm(600)) {
      flex-direction: column;
      align-items: center;
    }
  }

  // .body-footer__menu

  &__menu {
    flex-grow: 1;

    @media (max-width: toEm(600)) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      align-items: center;
    }
  }

  // .body-footer__title

  &__title {
    font-family: $fontSecondary;
    font-weight: 300;
    font-size: 20px;
    line-height: 1.4;
    letter-spacing: 0.05em;
    color: $lightColor;

    .--spoller-init & {
      display: flex;
      gap: 5px;
      align-items: center;
      &::after {
        content: '\f112';
        color: $lightColor;
        font-family: 'iconfont';
        font-size: 13px;
        rotate: 180deg;
        transition: rotate 0.3s;
      }
    }

    .--spoller-active {
      &::after {
        rotate: 0deg;
      }
    }
  }

  // .body-footer__list

  &__list {
    @include adaptiveValue('padding-top', 32, 20);
  }

  // .body-footer__item

  &__item {
    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }

  // .body-footer__link

  &__link {
    font-family: $fontSecondary;
    font-size: 13px;
    line-height: 1.6;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    transition: color 0.3s;

    @media (any-hover: hover) {
      &:hover {
        color: $lightColor;
      }
    }
  }

  // .body-footer__button

  &__button {
  }
}

.content-footer {
  display: flex;
  flex-direction: column;
  @include adaptiveValue('gap', 43, 20);

  @media (max-width: toEm($mobile)) {
    align-items: center;
    text-align: center;
  }

  // .content-footer__link-logo

  &__link-logo {
  }

  // .content-footer__logo

  &__logo {
  }

  // .content-footer__social

  &__social {
    &.social {
      gap: 16px;

      @media (min-width: toEm($mobile)) {
        flex-direction: column;
        align-items: flex-start;
      }

      @media (max-width: toEm($mobile)) {
        justify-content: center;

        .social__link {
          gap: 0;
          font-size: 0;
        }
      }
    }
  }
}

.bottom-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;

  // .bottom-footer__copy

  &__copy {
    line-height: 1.6;
  }

  // .bottom-footer__button

  &__button {
  }

  @media (max-width: toEm($mobile)) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
