<footer data-fls-footer class="footer">
  <div class="footer__container">
    <div class="footer__body body-footer">
      <div class="body-footer__content content-footer">
        <a href="" class="content-footer__link-logo">
          <img class="content-footer__logo" src="@img/logo.svg" alt="logo" />
        </a>

        <ul data-fls-social class="content-footer__social social social--text">
          <li class="social__item">
            <a
              href="#"
              target="_blank"
              class="social__link social__link--icon-s-inst"
            >
              INSTAGRAM</a
            >
          </li>
          <li class="social__item">
            <a
              href="#"
              target="_blank"
              class="social__link social__link--icon-s-x"
            >
              TWITTER</a
            >
          </li>

          <li class="social__item">
            <a
              href="#"
              target="_blank"
              class="social__link social__link--icon-s-drb"
              >DRIBBBLE</a
            >
          </li>
          <li class="social__item">
            <a
              href="#"
              target="_blank"
              class="social__link social__link--icon-s-beh"
              >BEHANCE</a
            >
          </li>
        </ul>
      </div>
      <div data-fls-spollers="600" class="body-footer__menus spollers">
        <details class="body-footer__menu">
          <summary>
            <h5 class="body-footer__title">Pages</h5>
          </summary>

          <ul class="body-footer__list">
            <li class="body-footer__item">
              <a href="#" class="body-footer__link">Home</a>
            </li>
            <li class="body-footer__item">
              <a href="#" class="body-footer__link">Services</a>
            </li>
            <li class="body-footer__item">
              <a href="#" class="body-footer__link">About</a>
            </li>
            <li class="body-footer__item">
              <a href="#" class="body-footer__link">Contact</a>
            </li>
            <li class="body-footer__item">
              <a
                href="#"
                data-fls-button
                class="body-footer__button button button--light button--icon button--icon-arrow button--arrow-ur"
                >More templates</a
              >
            </li>
          </ul>
        </details>

        <details class="body-footer__menu">
          <summary>
            <h5 class="body-footer__title">CMS</h5>
          </summary>

          <ul class="body-footer__list">
            <li class="body-footer__item">
              <a href="#" class="body-footer__link">Work</a>
            </li>
            <li class="body-footer__item">
              <a href="#" class="body-footer__link">Work single</a>
            </li>
            <li class="body-footer__item">
              <a href="#" class="body-footer__link">Blog</a>
            </li>
            <li class="body-footer__item">
              <a href="#" class="body-footer__link">Blog post</a>
            </li>
          </ul>
        </details>
        <details class="body-footer__menu">
          <summary>
            <h5 class="body-footer__title">Utility Pages</h5>
          </summary>

          <ul class="body-footer__list">
            <li class="body-footer__item">
              <a href="#" class="body-footer__link">404 Error Page</a>
            </li>
            <li class="body-footer__item">
              <a href="#" class="body-footer__link">Password Protected</a>
            </li>
            <li class="body-footer__item">
              <a href="#" class="body-footer__link">Styleguide</a>
            </li>
            <li class="body-footer__item">
              <a href="#" class="body-footer__link">Licensing</a>
            </li>
            <li class="body-footer__item">
              <a href="#" class="body-footer__link">Changelog</a>
            </li>
            <li class="body-footer__item"></li>
          </ul>
        </details>
      </div>
    </div>

    <div class="footer__bottom bottom-footer">
      <div class="bottom-footer__copy">
        © 2022 Made by Pawel Gola. Powered by Framer..
      </div>
      <a
        href="#"
        data-fls-scrollto="main"
        data-fls-button
        class="bottom-footer__button button button--text button--text-big button--text-rev button--icon-arrow"
        >To top
      </a>
    </div>
  </div>
</footer>
