<article data-fls-articlepreview class="articlepreview" data-fls-border>
  <a href="" class="articlepreview__link-image">
    <img class="articlepreview__image" src="@img/blog/1.jpg" alt="Image" />
  </a>
  <div class="articlepreview__body">
    <time datetime="23-08-2023" class="articlepreview__date"
      >23rd Aug 2023</time
    >
    <h4 class="articlepreview__title" data-fls-title>
      <a href="#" class="articlepreview__link-title"
        >How to Build a Stunning Website with Framer</a
      >
    </h4>
    <div class="articlepreview__text">
      <p>
        Learn how to create an impressive website using Framer with our
        step-by-step guide.
      </p>
    </div>
  </div>
  <a data-fls-border href="#" class="articlepreview__category">WEBdesign</a>
</article>
