<!-- атрібут data-fls-blockhead - для ініціалізації скрипта та підключення стилів
та JS -->

<div data-fls-blockhead class="blockhead">
  <span class="blockhead__label">The process</span>
  <h2 class="blockhead__title">
    Your Website
    <span>in 5 steps</span>
  </h2>
  <div class="blockhead__text">
    <p>
      Our process ensures that we create a website tailored to your business
      needs.
    </p>
  </div>
</div>

<div data-fls-blockhead class="blockhead">
  <span class="blockhead__label"></span>
  <h1 class="blockhead__title blockhead__title--size-160">
    Web Designer<span>& Developer</span>
  </h1>
  <div class="blockhead__text blockhead__text--size-24">
    <p>
      Premium web design, development, and SEO services to help your business
      stand out.
    </p>
  </div>
</div>

<div data-fls-blockhead class="blockhead">
  <span class="blockhead__label"></span>
  <h1 class="blockhead__title">Web Design<span>& Framer</span></h1>
  <div class="blockhead__text blockhead__text--size-24">
    <p>
      Premium web design, development, and SEO services to help your business
      stand out.
    </p>
  </div>
</div>

<div data-fls-blockhead class="blockhead">
  <span class="blockhead__label"></span>
  <h2 class="blockhead__title blockhead__title--size-96">
    What my <span>clients say</span>
  </h2>
  <div class="blockhead__text blockhead__text--size-18">
    <p>
      See what my clients have to say about working with me and the results I
      helped them achieve.
    </p>
  </div>
</div>

<div data-fls-blockhead class="blockhead blockhead--gap-8">
  <span class="blockhead__label"> Project in mind?</span>
  <h2 class="blockhead__title">
    Let’s make your
    <span>Website shine</span>
  </h2>
  <div class="blockhead__text">
    <p>
      Premium web design, webflow, and SEO services to help your business stand
      out.
    </p>
  </div>
</div>

<div data-fls-blockhead class="blockhead">
  <span class="blockhead__label"></span>
  <h2 class="blockhead__title blockhead__title--size-80">
    How to Build a Stunning Website with Framer
  </h2>
  <div class="blockhead__text">
    <p>
      Premium web design, webflow, and SEO services to help your business stand
      out.
    </p>
  </div>
</div>
