<aside data-fls-letstalk class="lets-talk">
  <div
    data-fls-border
    data-fls-marquee
    data-fls-marquee-speed="250"
    class="lets-talk__line line-talk"
  >
    <div class="line-talk__item">Let’s talk</div>
    <div class="line-talk__item">+++</div>
  </div>

  <section class="lets-talk__body">
    <div class="lets-talk__container">
      <div data-fls-blockhead class="blockhead blockhead--gap-8">
        <span class="blockhead__label"> Project in mind?</span>
        <h2 class="blockhead__title">
          Let’s make your
          <span>Website shine</span>
        </h2>
        <div class="blockhead__text">
          <p>
            Premium web design, webflow, and SEO services to help your business
            stand out.
          </p>
        </div>
        <a
          href="#"
          data-fls-button
          class="blockhead__button button button--light button--icon button--icon-arrow button--arrow-ur"
          >Get in touch</a
        >
      </div>
    </div>
  </section>
</aside>
